body{
   background-color: black;
}

.container {
   margin-top: 50px;
   width: 550px;
   align-items: center;
}

.Knapp {
    color: white;
    text-align: center;
    margin-right: 40px;
  /* background: black; */
 }

button:hover {
   background-color: yellow;
}

 #Box-1, #Box-2, #Box-3{
    display: inline;
 margin-left: 10px;
 }
 